<table mat-table [dataSource]="cities" class="mat-elevation-z8">

    <!--- Note that these columns can be defined in any order.
          The actual rendered columns are set as a property on the row definition" -->
  
    <!-- Position Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> City </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>
  
    <!-- Name Column  -->
    <ng-container matColumnDef="get">
      <th mat-header-cell *matHeaderCellDef>  </th>
      <td mat-cell *matCellDef="let element; let i = index">            
        <button mat-raised-button color="primary" (click) = "getData(i)" *ngIf = "!element.saved">
          Get Data
      </button>
      <button mat-raised-button color="primary" (click) = "newData(i)" *ngIf = "element.saved">
        Get New Data
    </button>
    </td>

    </ng-container>
 
    <!-- Weight Column -->
    <ng-container matColumnDef="temperature">
      <th mat-header-cell *matHeaderCellDef> Temperatures</th>
      <td mat-cell *matCellDef="let element; let i = index"> 
        <mat-card-title *ngIf = "!hasError">{{element.temperature}}</mat-card-title>
        </td>
    </ng-container>
    <ng-container matColumnDef="humidity">
      <th mat-header-cell *matHeaderCellDef> Temperatures</th>
      <td mat-cell *matCellDef="let element; let i = index"> 
        <mat-card-title *ngIf = "!hasError">{{element.humidity}}</mat-card-title>
        </td>
    </ng-container>
    <ng-container matColumnDef="img">
      <th mat-header-cell *matHeaderCellDef> Temperatures</th>
      <td mat-cell *matCellDef="let element; let i = index"> 
        <mat-card-title *ngIf = "!hasError"><img [src] = "element.img"></mat-card-title>
        </td>
    </ng-container>
    

    <!-- Symbol Column -->
    <ng-container matColumnDef="predict">
      <th mat-header-cell *matHeaderCellDef> </th>
      <td mat-cell *matCellDef="let element; let i = index">
        <button mat-raised-button color="primary" *ngIf = "predictButt[i] && !saved[i]" (click) = "predict(i)">
          Predict
      </button>
      <button mat-raised-button color="primary" *ngIf = "predictButt[i] && saved[i]" (click) = "updateCity(i)">
        Save
    </button>
         </td>
    </ng-container>


  <ng-container matColumnDef="result">
    <th mat-header-cell *matHeaderCellDef> Predict</th>
    <td mat-cell *matCellDef="let element; let i = index"> 
      {{element.result}}
      </td>
  </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
  
